attrs==20.2.0
autopep8==1.5.3
iniconfig==1.1.1
packaging==20.4
pexpect==4.8.0
pluggy==0.13.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.9.0
pycodestyle==2.6.0
Pygments==2.6.1
pyparsing==2.4.7
pytest==6.1.1
six==1.15.0
toml==0.10.1
wcwidth==0.2.5


types_patterns ['(?:\\d+(?:\\.\\d+)?)?i', '\\d+(?:\\.\\d+)?', '\\[\\[.*?\\]\\]']
ops_patterns ['\\(', '\\)', '\\,', '\\^', '\\.', '\\*', '\\/', '\\%', '\\+', '\\-']
all_patterns ['(?:\\d+(?:\\.\\d+)?)?i', '\\d+(?:\\.\\d+)?', '\\[\\[.*?\\]\\]', '\\(', '\\)', '\\,', '\\^', '\\.', '\\*', '\\/', '\\%', '\\+', '\\-', '[a-zA-Z]+']


variable_patterns ['(?:\\d+(?:\\.\\d+)?)?i', '\\d+(?:\\.\\d+)?', '\\[\\[.*?\\]\\]']
operator_patterns ['\\(', '\\)', '\\,', '\\^', '\\.', '\\*', '\\/', '\\%', '\\+', '\\-']
all_patterns ['(?:\\d+(?:\\.\\d+)?)?i', '\\d+(?:\\.\\d+)?', '\\[\\[.*?\\]\\]', '\\(', '\\)', '\\,', '\\^', '\\.', '\\*', '\\/', '\\%', '\\+', '\\-', '[a-zA-Z]+']